body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbeff6;
}

header, footer {
    background-color: #f4a7b9; 
    color: white;
    text-align: center;
    padding: 1em 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
}

h1, h2, h3 {
    color: black;
}
.team-member h3 {
    color: black;
}

section.projects ul {
    list-style-type: none;
    padding: 0;
}

section.projects ul li {
    margin: 0.5em 0;
}

#contactForm label, #contactForm input, #contactForm textarea {
    display: block;
    margin: 0.5em 0;
}

#contactForm input, #contactForm textarea {
    border: 1px solid #f4a7b9; 
    padding: 0.5em;
    border-radius: 5px;
}

#contactForm button {
    background-color: #f4a7b9; /* Soft pink button */
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #e593a7; }

#formMessage {
    margin-top: 1em;
    font-weight: bold;
}
